.container{
  position: fixed;
  top: 223px;
}
.row{
  max-width: 84%;
}
.Rectangles{
  height: 105px;

}

.FirstRectangle{
  background-image: url('../../assets/automotive assets/informationIcon/Rectangle 1509.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  height:50%;
  width:0%;
}

.SecondRectangle{
  background-image: url('../../assets/automotive assets/informationIcon/Rectangle 010.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  height:50%;
  width:0%;

}

.Eclipse{
  background-image: url('../../assets/automotive assets/maintenance services/Ellipse 41.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 105px;
  /* align-items: center; */
  justify-content: center;
}

.Eclipse button{
  position: absolute;
  top: 30%;
  left: 34%;
  text-align: center;
  font-size: 22px;
  padding:0%;
  margin: auto;
 }


 .showInfo{
  width: 100%;
  transition: width 0.4s;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .container{
    top: 265px;
  }
  .row{
    max-width: 57%;
  }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container{
    top: 362px;
  }
  .row{
    max-width: 43%;
  }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container{
    top: 525px;
  }
  .row{
    max-width: 31%;
  }
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container{
    top: 680px;
  }
  .row{
    max-width: 27%;
  }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .container{
    top: 740px;
  }
 }

/***************************************************************************/

.active{
transform: rotate(1deg); /* Equal to rotateZ(45deg) */
transition-duration: 0.4s;
}

.active2{
transform: rotate(-180deg); /* Equal to rotateZ(45deg) */
transition-duration: 0.4s;
}



 /*******************************************************************/





