

    <div class="container">

      <div class="row">

        <div class="col-5 col-lg-5 col-md-5 col-sm-5 col-xl-5 Eclipse" >



            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
              [ngClass]="isRotated ? 'active' : 'active2'"
              style="padding: 0%;"
              (click)= "rotation()">
              <fa-icon [icon]="faBars"></fa-icon>
            </button>

        </div>

        <div class="col-7 col-lg-7 col-md-7 col-sm-7 col-xl-7 Rectangles"  >

            <div class="FirstRectangle" [ngClass]="isRotated ? 'showInfo' : ''">

            </div>

            <div class="SecondRectangle" [ngClass]="isRotated ? 'showInfo' : ''">

            </div>

        </div>

      </div>

    </div>

