.image-container{
  position:relative;
  top:0%;
  align-content: center;
  align-items: center;
}

.image-container h1{
  position: absolute;
  top: 39%;
  left: 25%;
  right: 28%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  color: white;
  font-size: 60px;
}


#background-text{
  position: absolute;
  font-family: 'Rage';
  font-size: 4.2rem;
  opacity: 0.20;
  line-height: 2rem;

}

.head{
  margin-bottom: 12%;
}

.location{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.location .location-text{
  font-size: 21px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 2.29;
  color: #1d1f21;
}

.location .text-center{
  font-style: italic;
  line-height: 1.48;
  font-weight: 600;
  font-size: 21px;
  color: #1d1f21;
}


/*map*/

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */

  display:flex;
  justify-content:center;
  margin-bottom:10%;
}

.form-group input{
  opacity: 0.5;
  border-radius: 11px;
  border: solid 1px #707070;
  background-color: #fff;
  font-family: OpenSans;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #1d1f21;
}

.message input{
  opacity: 0.5;
  border-radius: 11px;
  border: solid 1px #707070;
  background-color: #fff;
  font-family: OpenSans;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 3.5;
  letter-spacing: normal;
  text-align: center;
  color: #1d1f21;
  height:fit-content;
}

.info-container{
  width:50%;

}

.form-group{
  width: 80%;
}

.see-more button{
  width: 12%;
  margin-bottom:10%
}

@media (min-width: 768px) and (max-width: 1024px) {

  .image-container h1{
    font-size: 30px;
  }

  #background-text{
    font-size: 3.2rem;
  }

  .location .text-center{
    font-size: 17px;
  }

  .head{
    font-size: 30px !important;
  }
}



@media (min-width: 540px) and (max-width: 768px){

  .image-container h1{
    font-size: 21px;
  }

  #background-text{
    font-size: 2.2rem;
  }

  #background-text{
    font-size: 2.2rem;
  }
  .head{
    font-size: 26px !important;
  }

  .location .location-text{
    font-size: 20px;
  }

  .location img{
    width:6% !important;
  }
}




@media (min-width: 280px) and (max-width: 540px){

  .image-container h1{
    font-size: 18px;
  }

  #background-text{
    font-size: 1.2rem;
    line-height: 29px;
  }

  .see-more .rounded{
    width: 48% !important;

  }

  .head{
    font-size: 21px !important;
  }

}





