<div class="image-container" style="background-color: rgba(26, 96, 168, 0.09);">

    <h1 class="text-center">ABOUT US</h1>
    <img
      src="../../assets/automotive assets/about us/Mask Group 1.png"
      class="img-fluid"
      alt=""
    />
    <app-header></app-header>
  
  </div>


  <div class="container-fluid" style="background-color: rgba(26, 96, 168, 0.09);margin-bottom: 15%;height: 370px;">

    <div class="d-flex justify-content-center pt-5" style="display:block;">
      <div id="background-text">About Us</div>
      <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">
  
    </div>
  
    <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> ABOUT US </p>
  
    <p class="text-center content mb-0">
      Automotive Electric is an institution accredited by the Industrial Control Authority for home appliances maintenance and is an authorized
      representative for maintaining USA made household appliances. Automotive Electric is keen to achieve excellence in all its
      maintenance services therefore its team consists of professionally trained engineers with sophisticated knowledge in all types of
      malfunctions and how to fix them which is attributed to their 30-year experience in the field of household appliances’ maintenance
    </p>
  
  
  </div>



  <div class="container-fluid" style="margin-bottom: 15%;height: 370px;">

    <div class="d-flex justify-content-center pt-5" style="display:block;">
      <div id="background-text">Believe in!</div>
      <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">
  
    </div>
  
    <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> WHY US </p>
      <div class="content">
        <p class="text-center content">
          Our institution has more than 30 years of experience in the household appliances’ maintenance field making us one
          of the pioneers in the household appliances’ maintenance market in Egypt. Ensuring the customers’ comfort is the prime goal of
          Automotive Electric, therefore we send a specialized team to your house to complete the maintenance process safely and in no time.
        </p>
  
        <p class="text-center content">
          We have been accredited by the Industrial Control Authority for home appliances maintenance. We also have a fully
          equipped team with highly technical knowledge of all types of malfunctions including water leakage, gas leakage
          and thermostat malfunctions.
        </p>
  
        <p class="text-center  content mb-5">
          We are always keen to keep pace with all the latest innovative techniques to be able to provide our
          customers with the professional long term solutions they strive for and offer them a more convenient lifestyle.
  
        </p>
      </div>
  </div>





  <app-footer></app-footer>