<div class="image-container">
    <h1 class="text-center">ADMIRAL</h1>
    <img
      src="../../assets/automotive assets/maintenance services/Mask Group 3.png"
      class="img-fluid"
      alt=""
    />
    <app-header></app-header>
  
  </div>
  
  
  <div class="container">
    <div class="d-flex justify-content-center pt-5" style="display:block;">
      
      <img src="../../assets/automotive assets/services icons/Group 48.png" class="mt-3"style="width:30%" alt="">
  
    </div>
  
    <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> Admiral </p>
    
  
    <p class="text-center content ">
      Admiral was founded in 1934 by Ross Syragusa and is specialized in television and radio industry.
      Automotive Electric obtained Admiral maintenance authorization more than 15 years ago
    </p>
  </div>
  
  
  <app-footer></app-footer>
  