<div class="image-container">
    <h1 class="text-center">SAMSUNG</h1>
    <img
      src="../../assets/automotive assets/maintenance services/Mask Group 3.png"
      class="img-fluid"
      alt=""
    />
    <app-header></app-header>
  
  </div>
  
  
  <div class="container">
    <div class="d-flex justify-content-center pt-5" style="display:block;">
      
      <img src="../../assets/automotive assets/services icons/Group 52.png" class="mt-3"style="width:30%" alt="">
  
    </div>
  
    <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> Samsung </p>
    
  
    <p class="text-center content ">
        Founded in South Korea in 1969, Samsung is one of the leading companies in smartphone
        manufacturing and development market, TV screens and home appliances which was
        introduced to the market for the first time in 2005.
        Automotive Electric obtained Samsung maintenance authorization more than 13 years ago        
    </p>
  </div>
  
  
  <app-footer></app-footer>
  