


<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img src="../../../assets/automotive assets/landing page/1.png" class="img-fluid offset-lg-1 offset-md-1 offset-sm-1" alt="Logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-lg-end mr-lg-5" id="navbarSupportedContent">

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">ABOUT US</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/maintainance">SERVICES</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">BRANDS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">CONTACT US</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#">AR</a>
      </li>
    </ul>
  </div>
  </div>
</nav>





