<div class="image-container">


  <img
    src="../../assets/automotive assets/technical arm/Mask Group 1.png"
    class="img-fluid"
    alt=""
  />
  <app-header></app-header>

</div>





  <div class="d-flex justify-content-center" style="display:block;">

    <div id="background-text">TECHNICAL ARM</div>
    <img src="../../assets/automotive assets/Line 1.png" class="mt-3" style="width:19%" alt="">
  </div>
  <p class="text-center head" style="font-weight: 800;font-size: 39px;"> TECHNICAL ARM </p>


  <div class="container">
    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 32.png" class="mt-3" style="width:19%" alt="">
      <div class="discreption">
        <h3>General Electric</h3>
        <p>
          General Electric is a global appliance company founded in 1889 by Thomas Edison and
          is a pioneer in several industries including: aviation, healthcare, energy, renewable energy,
          digital industries, and locomotives. Automotive Electric has obtained General Electric
          maintenance authorization 50 years ago          
        </p>
      </div>
    </div>


    <div class="row product-container">

      <div class="discreption">
        <h3>Westinghouse</h3>
        <p>
          Westinghouse is an American institution of appliances, founded in 1886, and it is one
          of the market leaders in the development of electrical infrastructure for all kinds of
          household appliances, including refrigerators, stoves, dryers, deep freezers, ovens, and
          others all over the world. Automotive Electric has obtained Westinghouse maintenance
          authorization 30 years ago          
        </p>
      </div>
      <img src="../../assets/automotive assets/technical arm/Group 33.png" class="mt-3" style="width:19%" alt="">
    </div>


    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 34.png" class="mt-3" style="width:19%" alt="">

      <div class="discreption">
        <h3>Frigidaire</h3>
        <p>
          Frigidaire is an American home appliances business founded in 1918 and is a subsidiary of
          the European parent company Electrolux, that developed the first freestanding refrigerator.
          Automotive Electric obtained Frigidaire maintenance authorization more than 30 years ago
          
        </p>
      </div>

    </div>





    <div class="row product-container">

      <div class="discreption">
        <h3>Kelvinator</h3>
        <p>
          Kelvinator was founded in 1914 and is one of the first companies to manufacture
          refrigerators in America which was invented by its owner William Thompson.
          Automotive Electric obtained Kelvinator maintenance authorization more than
          40 years ago
        </p>
      </div>
      <img src="../../assets/automotive assets/technical arm/Group 35.png" class="mt-3" style="width:19%" alt="">
    </div>



    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 36.png" class="mt-3" style="width:19%" alt="">

      <div class="discreption">
        <h3>Admiral</h3>
        <p>
          Admiral was founded in 1934 by Ross Syragusa and is specialized in television and radio industry.
          Automotive Electric obtained Admiral maintenance authorization more than 15 years ago
        </p>
      </div>

    </div>



    <div class="row product-container">

      <div class="discreption">
        <h3>Norge</h3>
        <p>
          Norge was founded in 1930 by Magic Chef specialized in manufacturing all household
          appliances, and in 2006 it became one of the partners of  Whirlpool Corporation.
          Automotive Electric obtained Norge maintenance authorization more than 15 years ago
          
        </p>
      </div>
      <img src="../../assets/automotive assets/technical arm/Group 37.png" class="mt-3" style="width:19%" alt="">
    </div>

  </div>


  <app-footer></app-footer>

