<div class="image-container">


  <img
    src="../../assets/automotive assets/technical arm/Mask Group 1.png"
    class="img-fluid"
    alt=""
  />
  <app-header></app-header>

</div>





  <div class="d-flex justify-content-center" style="display:block;">

    <div id="background-text">{{"technicalArm" | translate}}/div>
    <img src="../../assets/automotive assets/Line 1.png" class="mt-3" style="width:19%" alt="">
  </div>
  <p class="text-center head" style="font-weight: 800;font-size: 39px;"> {{"technicalArm" | translate}}</p>


  <div class="container">
    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 32.png" class="mt-3" style="width:19%" alt="">
      <div class="discreption">
        <h3>{{"Gelectric" | translate}}</h3>
        <p>
          {{"GelectricDescription" | translate}}
        </p>
      </div>
    </div>


    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 33.png" class="mt-3 smallImg" style="width:19%;display: none;" alt="">
      <div class="discreption">
        <h3>{{"WESTINGHOUSE"|translate}}</h3>
        <p>
         {{"WESTINGHOUSEdescription" | translate}}
        </p>
      </div>
      <img src="../../assets/automotive assets/technical arm/Group 33.png" class="mt-3 largImg" style="width:19%" alt="">
    </div>


    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 34.png" class="mt-3" style="width:19%" alt="">

      <div class="discreption">
        <h3>{{"Frigidaire" | translate}}</h3>
        <p>
         {{"FrigidaireDescreption" | translate}}

        </p>
      </div>

    </div>





    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 35.png" class="mt-3 smallImg" style="width:19%;display: none;" alt="">
      <div class="discreption">
        <h3>{{"Kelvinator" | translate}}</h3>
        <p>
         {{"KelvinatorDescreption" | translate}}
        </p>
      </div>
      <img src="../../assets/automotive assets/technical arm/Group 35.png" class="mt-3 largImg" style="width:19%" alt="">
    </div>



    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 36.png" class="mt-3" style="width:19%" alt="">

      <div class="discreption">
        <h3>{{"Admiral" | translate}}</h3>
        <p>
          {{"AdmiralDescription" | translate}}
        </p>
      </div>

    </div>



    <div class="row product-container">
      <img src="../../assets/automotive assets/technical arm/Group 37.png" class="mt-3 smallImg" style="width:19%;display: none;" alt="">
      <div class="discreption">
        <h3>{{"Norge"}}</h3>
        <p>
         {{"NorgeDescription" | translate}}

        </p>
      </div>
      <img src="../../assets/automotive assets/technical arm/Group 37.png" class="mt-3 largImg" style="width:19%" alt="">
    </div>

  </div>


  <app-footer></app-footer>

