@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300;1,400&display=swap');

.image-container{
  position:relative;
  top:0%;
  align-content: center;
  align-items: center;
  width:100%;
}

.head{
  font-size: 30px !important;
  margin-bottom: 7%;
}

#background-text{
  position: absolute;
  font-family: 'Rage';
  font-size: 4.2rem;
  opacity: 0.20;
  line-height: 1rem;

}

.product-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom:7%;
}

.discreption{
  width:80%;
  align-items: center;
  margin: auto;
}

.discreption h3{
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

.discreption p{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  line-height: 1.37;
  font-weight: 600;
}

.hamburger{
  position: absolute;
  left: 0;
  margin-left:2px;

}

.active{
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
}


@media (min-width: 768px) and (max-width: 1024px) {
#background-text{
  font-size: 3.2rem;
}



}

@media (min-width: 540px) and (max-width: 768px) {

  #background-text{
    font-size: 2.2rem;
  }

  .smallImg{
    display:block !important;
    margin:auto;
  
  }

  .largImg{
    display: none;
    width:28px !important;
  }

  .discreption {
    justify-content: center;
  }

  .product-container img{
   width: 25% !important;
  }

  .discreption h3{
    font-size: 25px;
    text-align: center;
  }
  
  .discreption p{
    font-size: 14px;
    text-align: center;
  }

  .product-container{
    justify-content: center;
  }
}

@media (min-width: 280px) and (max-width: 540px){

  #background-text{
    font-size: 1.2rem;
    line-height: 29px;
  }

  .head{
    font-size: 21px !important;
  }

  .smallImg{
    display:block !important;
    margin:auto;
  
  }

  .largImg{
    display: none ;
    width:28px !important;
  }

  .discreption {
    justify-content: center;
  }

  .product-container img{
   width: 30% !important;
  }

  .discreption h3{
    font-size: 17px;
    text-align: center;
  }
  
  .discreption p{
    font-size: 12px;
    text-align: center;
  }

  .product-container{
    justify-content: center;
  }

}