<div class="image-container">


  <img
    src="../../assets/automotive assets/maintenance services/Mask Group 2.png"
    class="img-fluid"
    alt=""
  />
  <app-header></app-header>

</div>

<app-information></app-information>

  <div class="d-flex justify-content-center" style="display:block;">

    <div id="background-text" i18n='services'>{{"services" | translate}}</div>
    <img src="../../assets/automotive assets/Line 1.png" class="mt-3" style="width:19%" alt="">
  </div>
  <p class="text-center head" style="font-weight: 800;font-size: 39px;" i18n='maintainance services'> {{"maintainance services"|translate}} </p>



 
  <div class="container">
    <div class="row product-container">
      <img src="../../assets/automotive assets/maintenance services/Group 38.png" class="mt-3" style="width:19%" alt="">
      <div class="discreption col-12 col-lg-9 col-md-9 col-sm-12">
        <h3 >{{"fridge"|translate}}</h3>
        <p>
          {{"fridgeDescription" | translate}}
        </p>
      </div>
    </div>


    <div class="row product-container">
      <img src="../../assets/automotive assets/maintenance services/Group 39.png" class="mt-3 smallImg" style="width:19%;display: none;" alt="">

      <div class="discreption col-12 col-lg-9 col-md-9 col-sm-12">

        <h3>{{"washer"|translate}}</h3>
        <p>
          {{"washerDescription" | translate}}
        </p>
      </div>
      <img src="../../assets/automotive assets/maintenance services/Group 39.png" class="mt-3 largImg" style="width:19%" alt="">
    </div>


    <div class="row product-container">
      <img src="../../assets/automotive assets/maintenance services/Group 40.png" class="mt-3" style="width:19%" alt="">

      <div class="discreption col-12 col-lg-9 col-md-9 col-sm-12">
        <h3 >{{"washing machine" | translate}}</h3>
        <p >
          {{"washingMachineDescription" | translate}}
        </p>
      </div>

    </div>





    <div class="row product-container">
      <img src="../../assets/automotive assets/maintenance services/Group 41.png" class="mt-3 smallImg" style="width:19%;display: none;" alt="">
      <div class="discreption col-12 col-lg-9 col-md-9 col-sm-12">
        <h3>{{"deepfreezer" | translate}}</h3>
        <p >
          {{"deepfreezerDescription" | translate}}
        </p>
      </div>
      <img src="../../assets/automotive assets/maintenance services/Group 41.png" class="mt-3 largImg" style="width:19%" alt="">
    </div>



    <div class="row product-container">
      <img src="../../assets/automotive assets/maintenance services/Group 42.png" class="mt-3" style="width:19%" alt="">

      <div class="discreption col-12 col-lg-9 col-md-9 col-sm-12">
        <h3 >{{"microwave" | translate}}</h3>
        <p i18n='MicrowaveDescription'>
          {{"MicrowaveDescription" | translate}}
        </p>
      </div>

    </div>



    <div class="row product-container">
      <img src="../../assets/automotive assets/maintenance services/Group 43.png" class="mt-3 smallImg" style="width:19%;display: none;" alt="">

      <div class="discreption col-12 col-lg-9 col-md-9 col-sm-12">

        <h3 >{{"dryer"|translate}}</h3>
        <p >
          {{"dryerDescription"|translate}}
        </p>
      </div>
      <img src="../../assets/automotive assets/maintenance services/Group 43.png" class="mt-3 largImg" style="width:19%" alt="">
    </div>

  </div>


  <app-footer></app-footer>

