

<div class="image-container">

  <h1 class="text-center">ORIGINAL SPACE PARTS</h1>
  <img
    src="../../assets/automotive assets/landing page/Group 10.png"
    class="img-fluid"
    alt=""
  />
  <app-header></app-header>

</div>

<div class="d-flex justify-content-center" style="display:block;">
  <div id="background-text">SERVICES</div>
  <img src="../../assets/automotive assets/Line 1.png" class="mt-3" style="width:19%" alt="">
</div>
<p class="text-center head" style="font-weight: 800;font-size: 39px;"> MAINTENANCE  SERVICES </p>

<!-- services section start -->
<div class="container" style="margin-top: 3%;">
  <div class="row">

    <div class="col-4 d-flex justify-content-end">
      <img src="../../assets/automotive assets/landing page/services/Group 1.png" class="" alt="">
    </div>

    <div class="col-4 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/services/Group 11.png" class="" alt="">
    </div>

    <div class="col-4 d-flex justify-content-start">
      <img src="../../assets/automotive assets/landing page/services/Group 12.png" class="" alt="">
    </div>

  </div>
</div>

<div class="container" style="margin-top: 3%; margin-bottom: 15%;">
  <div class="row">

    <div class="col-4 d-flex justify-content-end">
      <img src="../../assets/automotive assets/landing page/services/Group 13.png" class="" alt="">
    </div>

    <div class="col-4 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/services/Group 14.png" class="" alt="">
    </div>

    <div class="col-4 d-flex justify-content-start">
      <img src="../../assets/automotive assets/landing page/services/Group 15.png" class="" alt="">
    </div>

  </div>
</div>
<!-- services section end -->

<!--ABOUT US SECITON STARTS-->

<div class="container-fluid" style="background-color: rgba(26, 96, 168, 0.09);margin-bottom: 15%;height: 370px;">

  <div class="d-flex justify-content-center pt-5" style="display:block;">
    <div id="background-text">About Us</div>
    <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">

  </div>

  <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> ABOUT US </p>

  <p class="text-center content mb-0">
    Automotive Electric is an institution accredited by the Industrial Control Authority for home appliances maintenance and is an authorized
    representative for maintaining USA made household appliances. Automotive Electric is keen to achieve excellence in all its
    maintenance services therefore its team consists of professionally trained engineers with sophisticated knowledge in all types of
    malfunctions and how to fix them which is attributed to their 30-year experience in the field of household appliances’ maintenance
  </p>

  <div class=" d-flex justify-content-center see-more" >

    <button class="btn btn-primary shadow p-3 rounded">
      SEE MORE
    </button>
  </div>

</div>

<!--ABOUT US SECITON ENDS-->

<!--TECHNICAL ARM SECITON STARTS-->

<div class="d-flex justify-content-center pt-5" style="display:block;">
  <div id="background-text">TECHNICAL ARM</div>
  <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">

</div>

<p class="text-center head mb-2" style="font-weight: 800;font-size: 39px;"> TECHNICAL ARM </p>


<div class="container-fluid technical-arm mb-5" style="margin-bottom: 15%;height: 370px;">
  <p class="text-center mb-3"> We have established contact with large reputable companies </p>

  <div class="row">
    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 16.png" class="mt-3"style="width:102%" alt="">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 17.png" class="mt-3"style="width:102%" alt="">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 18.png" class="mt-3"style="width:102%" alt="">
    </div>
    <div class="col-2 d-flex justify-content-center">

      <img src="../../assets/automotive assets/landing page/technical arm/Group 19.png" class="mt-3"style="width:102%" alt="">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 20.png" class="mt-3"style="width:102%" alt="">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 21.png" class="mt-3"style="width:102%" alt="">
    </div>
  </div>
</div>

<!--TECHNICAL ARM SECITON ENDS-->


<!--WHY US SECTION STARTS-->

<div class="container-fluid" style="background-color: rgba(26, 96, 168, 0.09);margin-bottom: 15%;height: 370px;">

  <div class="d-flex justify-content-center pt-5" style="display:block;">
    <div id="background-text">Believe in!</div>
    <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">

  </div>

  <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> WHY US </p>
    <div class="content">
      <p class="text-center content">
        Our institution has more than 30 years of experience in the household appliances’ maintenance field making us one
        of the pioneers in the household appliances’ maintenance market in Egypt. Ensuring the customers’ comfort is the prime goal of
        Automotive Electric, therefore we send a specialized team to your house to complete the maintenance process safely and in no time.
      </p>

      <p class="text-center content">
        We have been accredited by the Industrial Control Authority for home appliances maintenance. We also have a fully
        equipped team with highly technical knowledge of all types of malfunctions including water leakage, gas leakage
        and thermostat malfunctions.
      </p>

      <p class="text-center  content mb-5">
        We are always keen to keep pace with all the latest innovative techniques to be able to provide our
        customers with the professional long term solutions they strive for and offer them a more convenient lifestyle.

      </p>
    </div>
</div>

<!--WHY US SECTION ENDS-->


<!--OUR CLIENTS SECTION STARTS-->
<div class="d-flex justify-content-center pt-5" style="display:block;">
  <div id="background-text">CLIENTS</div>
  <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">

</div>

<p class="text-center head mb-2" style="font-weight: 800;font-size: 39px;"> OUR CLIENTS </p>


<div class="container-fluid technical-arm mb-5" style="margin-bottom: 15%;height: 370px;">


  <div class="row">
    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/clients/Group 22.png" class="mt-3"style="width:80%;height:80%" alt="">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/clients/Group 23.png" class="mt-3"style="width:80%;height:80%" alt="">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/clients/Group 24.png" class="mt-3"style="width:80%;height:80%" alt="">
    </div>
    <div class="col-2 d-flex justify-content-center">

      <img src="../../assets/automotive assets/landing page/clients/Group 25.png" class="mt-3"style="width:80%;height:80%" alt="">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/clients/Group 26.png" class="mt-3"style="width:80%;height:80%" alt="">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="../../assets/automotive assets/landing page/clients/Group 27.png" class="mt-3"style="width:80%;height:80%" alt="">
    </div>

  </div>
</div>
<!--OUR CLIENTS SECTION ENDS-->



<app-footer></app-footer>
