


<div class="container-fluid carus" style="background-color: rgb(20.4, 22.7, 25.1);">
  <div class="image-container">

  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/automotive assets/landing page/Group 10.png" alt="Random first slide">
      </div>
      <h1>{{'HeaderOne' | translate}}</h1>

    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/automotive assets/slider/Group 101.png" alt="Random second slide">
      </div>
      <h1 >{{'HeaderTwo' | translate}} </h1>

    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/automotive assets/slider/Group 10.png" alt="Random third slide">
      </div>
      <h1 >{{'HeaderThree' | translate}} </h1>

    </ng-template>
  </ngb-carousel>

  </div>
</div>
<app-header></app-header>





<div class="d-flex justify-content-center" style="display:block;">
  <div id="background-text" >{{"services" | translate}}</div>
  <img src="../../assets/automotive assets/Line 1.png" class="mt-3" style="width:19%" alt="">
</div>
<p class="text-center head" style="font-weight: 800;font-size: 39px;" > {{"maintainance services"|translate}} </p>
<app-information></app-information>
<!-- services section start -->
<div class="container" style="margin-top: 3%;">
  <div class="row">

    <div class="col-12 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end smallImg">
      <img src="../../assets/automotive assets/landing page/services/Group 1.png" class="" alt="">
      <p class=" DISH-WASHER name" style='position:absolute;bottom:0; margin-bottom: 0%;'>{{"dishwasher"|translate}}</p>
    </div>


    <div class="col-12 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center smallImg">
      <img src="../../assets/automotive assets/landing page/services/Group 11.png" class="" alt="">
      <p class=" name" style='position:absolute;bottom:0; margin-bottom: 0%;' >{{"deepfreezer"|translate}}</p>
    </div>

    <div class="col-12 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-start smallImg">
      <img src="../../assets/automotive assets/landing page/services/Group 12.png" class="" alt="">
      <p class="MICROWAVE name" style='position:absolute;bottom:0; margin-bottom: 0%;' >{{"microwave"|translate}}</p>
    </div>

  </div>
</div>

<div class="container" style="margin-top: 3%; margin-bottom: 15%;">
  <div class="row">

    <div class="col-12 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end smallImg">
      <img src="../../assets/automotive assets/landing page/services/Group 13.png" class="" alt="">
      <p class=" WASHER name" style='position:absolute;bottom:0; margin-bottom: 0%;'>{{"washer"|translate}}</p>
    </div>

    <div class="col-12 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center smallImg">
      <img src="../../assets/automotive assets/landing page/services/Group 14.png" class="" alt="">
      <p class=" name" style='position:absolute;bottom:0; margin-bottom: 0%;'>{{"fridge"|translate}}</p>
    </div>

    <div class="col-12 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-start smallImg">
      <img src="../../assets/automotive assets/landing page/services/Group 15.png" class="" alt="">
      <p class=" DRYER  name" style='position:absolute;bottom:0; margin-bottom: 0%;'>{{"dryer"|translate}}</p>
    </div>

  </div>
</div>
<!-- services section end -->

<!--ABOUT US SECITON STARTS-->

<div class="container-fluid" style="background-color: rgba(26, 96, 168, 0.09);margin-bottom: 15%;height: 370px;">

  <div class="d-flex justify-content-center pt-5" style="display:block;">
    <div id="background-text" >{{"aboutUs"|translate}}</div>
    <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">

  </div>

  <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> {{"aboutUs"|translate}} </p>

  <p class="text-center content mb-0">
    {{"aboutUsDesc" | translate}}
  </p>

  <div class=" d-flex justify-content-center see-more" >

    <button class="btn btn-primary shadow p-3 rounded"  routerLink="/aboutus">
      {{"seeMore"|translate}}
    </button>
  </div>

</div>

<!--ABOUT US SECITON ENDS-->

<!--TECHNICAL ARM SECITON STARTS-->

<div class="d-flex justify-content-center pt-5" style="display:block;">
  <div id="background-text" >{{"technicalArm" | translate}}</div>
  <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">

</div>

<p class="text-center head mb-2" style="font-weight: 800;font-size: 39px;"> {{"technicalArm"|translate}}</p>


<div class="container-fluid technical-arm mb-5" style="margin-bottom: 15%;height: 370px;">
  <p class="text-center mb-3" >{{"technicalDescreption" |translate}} </p>

  <div class="row">
    <div class=" col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center ">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 16.png" routerLink="/kelvinator"class=" mt-3"style="width:102%" alt="">
    </div>

    <div class=" col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center ">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 17.png" routerLink="/Frigidaire"class=" mt-3"style="width:102%" alt="">
    </div>

    <div class=" col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center ">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 18.png" routerLink="/Electric"class=" mt-3"style="width:102%" alt="">
    </div>
    <div class=" col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center ">

      <img src="../../assets/automotive assets/landing page/technical arm/Group 19.png" routerLink="/Westinghouse"class=" mt-3"style="width:102%" alt="">
    </div>

    <div class="col-12 col-lg-2 col-md-2 col-sm-6 d-flex  justify-content-center ">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 20.png" routerLink="/admiral"class=" mt-3"style="width:102%" alt="">
    </div>

    <div class=" col-12 col-lg-2 col-md-2 col-sm-6 d-flex  justify-content-center ">
      <img src="../../assets/automotive assets/landing page/technical arm/Group 21.png" routerLink="/norge"class=" mt-3"style="width:102%" alt="">
    </div>
  </div>
</div>

<!--TECHNICAL ARM SECITON ENDS-->


<!--WHY US SECTION STARTS-->

<div class="container-fluid" style="background-color: rgba(26, 96, 168, 0.09);margin-bottom: 15%;height: 370px;">

  <div class="d-flex justify-content-center pt-5" style="display:block;">
    <div id="background-text" >{{"believeIn"|translate}}</div>
    <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">

  </div>

  <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;" > {{"whyUs"|translate}} </p>
    <div class="content">
      <p class="text-center content" >
       {{"whyFirst"|translate}}
      </p>

      <p class="text-center content" >
        {{"whySecond"|translate}}
      </p>

      <p class="text-center content mb-5 mb-sm-2">
        {{"whyThird"|translate}}

      </p>
    </div>
</div>

<!--WHY US SECTION ENDS-->


<!--OUR CLIENTS SECTION STARTS-->
<div class="d-flex justify-content-center pt-5" style="display:block;">
  <div id="background-text" >{{"Clients"|translate}}</div>
  <img src="../../assets/automotive assets/Line 1.png" class="mt-3"style="width:19%" alt="">

</div>

<p class="text-center head mb-2" style="font-weight: 800;font-size: 39px;" >{{"ourClients" | translate}} </p>


<div class="container-fluid technical-arm mb-5" id="Brands"style="margin-bottom: 15%;height: 370px;">


  <div class="row">

    <div class="col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center companyImg">
      <img src="../../assets/automotive assets/landing page/clients/Group 22.png" routerLink="/zanussi" class="mt-3"style="width:80%;height:80%" alt="">
    </div>

    <div class="col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center companyImg">
      <img src="../../assets/automotive assets/landing page/clients/Group 23.png" routerLink="/daewoo"class="mt-3"style="width:80%;height:80%" alt="">
    </div>

    <div class="col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center companyImg">
      <img src="../../assets/automotive assets/landing page/clients/Group 24.png" routerLink="/samsung"class="mt-3"style="width:80%;height:80%" alt="">
    </div>
    <div class="col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center companyImg">

      <img src="../../assets/automotive assets/landing page/clients/Group 25.png" routerLink="/whirlpool"class="mt-3"style="width:80%;height:80%" alt="">
    </div>

    <div class="col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center companyImg">
      <img src="../../assets/automotive assets/landing page/clients/Group 26.png" routerLink="/ariston"class="mt-3"style="width:80%;height:80%" alt="">
    </div>

    <div class="col-12 col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center companyImg">
      <img src="../../assets/automotive assets/landing page/clients/Group 27.png" class="mt-3"style="width:80%;height:80%" alt="">
    </div>

  </div>
</div>
<!--OUR CLIENTS SECTION ENDS-->



<app-footer></app-footer>
