<div class="image-container">
    <h1 class="text-center">WESTINGHOUSE</h1>
    <img
      src="../../assets/automotive assets/maintenance services/Mask Group 3.png"
      class="img-fluid"
      alt=""
    />
    <app-header></app-header>
  
  </div>
  
  
  <div class="container">
    <div class="d-flex justify-content-center pt-5" style="display:block;">
      
      <img src="../../assets/automotive assets/services icons/Group 45.png" class="mt-3"style="width:30%" alt="">
  
    </div>
  
    <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> Westinghouse </p>
    
  
    <p class="text-center content ">
      Westinghouse is an American institution of appliances, founded in 1886, and it is one
      of the market leaders in the development of electrical infrastructure for all kinds of
      household appliances, including refrigerators, stoves, dryers, deep freezers, ovens, and
      others all over the world. Automotive Electric has obtained Westinghouse maintenance
      authorization 30 years ago
      
    </p>
  </div>
  
  
  <app-footer></app-footer>
  