<div class="footer-container-fluid" >
  <div class="row m-0 pt-5">

    <div class="col-5  d-flex flex-column pl-lg-5 pl-md-4">

        <div class="logo mb-3">
          <img src="../../../assets/automotive assets/landing page/1.png" class="img-fluid" alt="Logo">

        </div>

        <div class="discreption">
          <p>
            We strive to deliver a level of service that exceeds the
            expectations of our customers. If you have any questionsabout our products or services, please do not hesitate to
            contact us. We have friendly, knowledgeable representatives.
          </p>
        </div>

    </div>

<!--fast links-->
    <div class=" fastLinks col-3  d-flex align-items-center flex-column">
  
          <h3 class="header mb-3" style="color: #fff; line-height: 1.34;">FAST LINKS</h3>
        
          <div class="links list-group align-items-center" >
            <a  id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
            <a  id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">About Us</a>
            <a  id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Policies</a>
            <a  id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Projects</a>
          </div>
        
    </div>

<!--icons-->
    <div class="col-4  icon-container ">

      <div class="d-flex ">

        <div class="icon">
            <img src="../../../assets/automotive assets/landing page/footer/Group 31.png" style="width: 88%;" alt="Logo">
        </div>

          <div class="title ml-lg-4  ml-4">
            <P class="text-center" style="color: #fff;">
              P.O.Box 1043, Postal<br>
              Sultanate of Oman
            </P> 
            
         </div>
      </div>

      <div class="d-flex ">

        <div class="icon">
            <img src="../../../assets/automotive assets/landing page/footer/Group 30.png"  style="width: 88%;"alt="Logo">
        </div>

        <div class="title ml-lg-4 ml-md-4">
          <P class="text-center" style="color: #fff;">
            P.O.Box 1043, Postal<br>
            Sultanate of Oman
          </P>           
       </div>

      </div>

      <div class="d-flex ">

        <div class="icon">
            <img src="../../../assets/automotive assets/landing page/footer/Group 29.png"  style="width: 88%;" alt="Logo">
        </div>

          <div class="title ml-lg-4 ml-4 ">
            <P class="text-center" style="color: #fff;">
              P.O.Box 1043, Postal<br>
              Sultanate of Oman
            </P> 
        </div>

      </div>

    </div>

  </div>
</div>

