<div class="footer-container-fluid" >
  <div class="row m-0 pt-5">

    <div class="col-12 col-lg-5 col-md-5 col-sm-12 d-flex flex-column pl-lg-5 pl-md-4 ">

        <div class="logo mb-3">
          <img src="../../../assets/automotive assets/landing page/1.png" routerLink="/" class="img-fluid" alt="Logo">
        </div>

        <div class="discreption" i18n="FooterDiscreption">
          <p>{{"FooterDiscreption" |translate}}</p>
        </div>

    </div>

<!--fast links-->
    <div class=" fastLinks col-12 col-lg-3 col-md-3 col-sm-12 d-flex align-items-center flex-column">

          <h3 class="header mb-3" style="color: #fff; line-height: 1.34;" i18n="">{{"fastLinks" | translate}}</h3>

          <div class="links list-group align-items-center" >
            <a  id="list-home-list" data-toggle="list" routerLink="/" role="tab" aria-controls="home" i18n='home'>{{"home" | translate}}</a>
            <a  id="list-profile-list" data-toggle="list" routerLink="/aboutus" role="tab" aria-controls="profile" i18n='aboutUs'>{{"aboutUs" | translate}}</a>
            <a  id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages" i18n='Policies'>{{"Policies" | translate}}</a>
            <a  id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings" i18n='projects'>{{"projects" | translate}}</a>
          </div>

    </div>

<!--icons-->
    <div class=" col-12 col-lg-4 col-md-4 col-sm-12 icon-container ">

      <div class="d-flex ">

        <div class="icon">
            <img src="../../../assets/automotive assets/landing page/footer/Group 31.png" style="width: 88%;" alt="Logo">
        </div>

          <div class="title ml-lg-4  ml-4">
            <P class="text-center" style="color: #fff;" i18n='location'>
              P.O.Box 1043, Postal<br>
              Sultanate of Oman
            </P>

         </div>
      </div>


      <div class="d-flex ">

          <div class="icon">
              <img src="../../../assets/automotive assets/landing page/footer/Group 30.png"  style="width: 88%;"alt="Logo">
          </div>

        <div class="title ml-lg-4 ml-md-4">
            <P class="text-center" style="color: #fff;" i18n='telephone'>
              Phone  :+968 2428 9922 <br>
              Fax  : +968 2428 8566
            </P>
        </div>

      </div>


      <div class="d-flex ">

        <div class="icon">
            <img src="../../../assets/automotive assets/landing page/footer/Group 29.png"  style="width: 88%;" alt="Logo">
        </div>

        <div class="title ml-lg-4 ml-4 ">
            <P class="text-center" style="color: #fff;" i18n='mail'>
              info@sjabedalsulaimi.com
            </P>
        </div>

      </div>

    </div>

  </div>
</div>

