<div class="image-container">
    <h1 class="text-center">ZANUSSI</h1>
    <img
      src="../../assets/automotive assets/maintenance services/Mask Group 3.png"
      class="img-fluid"
      alt=""
    />
    <app-header></app-header>
  
  </div>
  
  
  <div class="container">
    <div class="d-flex justify-content-center pt-5" style="display:block;">
      
      <img src="../../assets/automotive assets/services icons/Group 51.png" class="mt-3"style="width:30%" alt="">
  
    </div>
  
    <p class="text-center head mb-3" style="font-weight: 800;font-size: 39px;"> Zanussi </p>
    
  
    <p class="text-center content ">
        Zanussi was established in 1916 and was the one who invented stoves, and it is also one
        of the leading manufacturers of household electrical appliances in the Middle East.
        Automotive Electric has obtained Zanussi maintenance authorization by more than
        25 years
                     
    </p>
  </div>
  
  
  <app-footer></app-footer>
  